html,body{
    border: 0;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

main {
    display: flex;
    height: 100vh;
    background-image: url(https://media.discordapp.net/attachments/1097975955332530196/1097979089685577738/bgLogin.jpg?width=1005&height=670);
    background-repeat: no-repeat;
    background-size: cover;
}

.left{
    background-color: rgba(33, 33, 33, 0.6);
    width: 70%;
    display: flex;
    justify-content: center;
}

.left h1 {
    margin-top: 25%;
    color: #FFF;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.2;
    max-width: 700px;
}

.right {
    background-color: #FFF;
    width: 32%;
    display: flex;
    flex-direction: column;
}

.container{
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}
form{
    width: 100%;
}

.inp{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.inp input{
    margin-top: 10px;
    margin-bottom: 25px;
    border-top: none;
    border-left: none;
    border-right: none;

}

.inp-check{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inp-check label{
    color: #717171;
}


.brand-img {
    vertical-align: middle;
    width: 280px;
}

.colegio-londrinense {
    font-size: 24px;
    text-align: center;
    font-weight: lighter;
    margin: 24px 0 11px;
}

.text-center {
    text-align: center;
    font-size: 12px;
    margin-top: 0;
    color: #616161;
}

a {
    color: #616161;
    text-decoration: none;
    margin-top: 10px;
}

.acessar {
    margin-top: 80px;
    color: #FFF;
    background-color: #616161;
    border-color: #616161;
    box-shadow: none;
    border-radius: 5px;
    width: 100%;
    height: 35px;
}


footer {
    margin-top: 300px;
    font-size: 12px;
    color: #424242;
    text-align: center;
}


.box-adicionar-post {
    margin-top: 830px;
    margin-right: 10px;
    margin-left: 50px;
    position: fixed;
    left: 90%;
    background-color: #b86800;
    padding: 2px;
    border-radius: 12px; 
    color: white;
    display: flex;
}

.box-adicionar-post:hover {
    background-color: #d89a48;
}

.dialog-novo-post {
    display: none;
}

.dialog-editar-post {
    display: none;
}

.dialog-novo-post-show {
    width: 650px;
    position: fixed;
    margin-top: 200px;
    left: 30%;
    background-color: #807d7d;
    border-radius: 10px;
    color: white;
}

.dialog-header {
    margin: 10px; 
    font-size: 28px;
    display: flex;
    justify-content: space-between;
}

.dialog-header input{
    background-color: white; 
    border-color: transparent;
    color: #000000;
    
}

.dialog-header input:hover{
    background-color: #d0d8dd;
}

.dialog-body{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 20px;
}

.dialog-body input{
    background-color: white; 
    border-color: transparent;
    color: #000000;
    font-size: 20px;
}

.btn-dialog-adicionar {
    margin-top: 10px;
}

.btn-dialog-adicionar:hover {
    background-color: #b86800;
    color: white;
}

@media (max-width: 991.98px) { 
    h1 {
        font-size: 4em;
    }
    .right {
        width: 100%;
    }

    .left {
        width: 0%;
    }
 }